.header {
    padding: 10px 0;
    box-shadow: 0 2px 8px var(--yo-gray);
}

.logo {
    width: 80px;
}

.link, .responsive-link, .li-button {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--yo-dark-gray);
    text-transform: uppercase;
    margin: 0 15px;
    transition: color 0.3s;
}

.link:hover, .responsive-link:hover {
    color: var(--yo-dark-green);
}

.link-button {
    border: none;
    background-color: transparent;
}

.fa-bars {
    font-size: 3em;
    transition: color 0.3s, transform 0.3s ease;
}

.fa-bars:hover {
    cursor: pointer;
    color: var(--yo-green);
    transform: rotate(90deg);
}

.responsive-nav {
    margin-top: 20px;
}

.responsive-link {
    font-size: 1.4em;
}

.exit-container {
    margin-top: 15px;
}