.search-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.search-container form {
    display: flex;
    border: 2px solid var(--yo-green);
    border-radius: 30px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search-input {
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 1rem;
    width: 250px;
    border-radius: 30px 0 0 30px;
}

.search-input:focus {
    background: var(--yo-light-gray);
}

.search-button {
    border: none;
    background-color: var(--yo-dark-green);
    padding: 0 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 0 30px 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button:hover {
    background-color: var(--yo-green);
}

.fa-magnifying-glass {
    color: var(--yo-white);
    font-size: 1.2rem;
}

.question-container {
    max-width: 1000px;
    margin: 40px auto;
}

.question-list {
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.question-item {
    padding: 18px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.question-item:last-child {
    border-bottom: none;
}

.question-item:hover {
    background: rgba(81, 208, 201, 0.05);
}

.link-question {
    color: var(--yo-dark-gray);
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.link-question:before {
    content: "•";
    color: var(--yo-green);
    margin-right: 12px;
    font-size: 1.5rem;
}