.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.question-body {
    text-align: center;
    font-size: 1.1em;
}

.response-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.response-container form {
    width: 50%;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    background-color: var(--yo-dark-green);
    color: var(--yo-white);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px var(--yo-green);
}

.answers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.table td {
    padding: 15px 0;
    font-size: 1.1em;
}