.auth-container {
    height: 100vh;
    width: 100%;
    background-color: #e7e7e7;
}

.auth {
    border: 2px solid var(--yo-black);
    width: 490px;
}

.login, .register {
    padding: 20px 25px;
}

.login {
    background-color: var(--yo-white);
}

.login-title-container {
    text-align: center;
    margin-bottom: 25px;
}

.form-label {
    text-align: left;
}

.register {
    background: linear-gradient(135deg, var(--yo-green), var(--yo-dark-green));
    color: var(--yo-white);
}

.register-title {
    text-align: center;
    margin-bottom: 25px;
}

.register p {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 25px;
}

.button {
    background-color: var(--yo-white);
    color: var(--yo-dark-green);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px var(--yo-green);
}

@media (min-width: 768px) {
    .auth {
        width: 720px;
    }
}