.auth-container {
    height: 100vh;
    width: 100%;
    background-color: var(--yo-light-gray);
}

.auth {
    height: 450px;
    box-shadow: 0 2px 8px var(--yo-black);
}

.login, .register {
    padding: 30px 30px;
}

.login {
    background-color: var(--yo-white);
}

.login-title-container {
    text-align: center;
    margin-bottom: 25px;
}

.login-title, .register-title {
    font-size: 2.3em;
}

.login-button {
    background-color: var(--yo-dark-green);
    color: var(--yo-white);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px var(--yo-green);
}

.register {
    background: linear-gradient(135deg, var(--yo-light-green), var(--yo-dark-green));
    color: var(--yo-white);
}

.register-title {
    text-align: center;
    margin-bottom: 25px;
}

.register p {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 25px;
}

.register-button {
    background-color: var(--yo-white);
    color: var(--yo-dark-green);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.register-button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px var(--yo-green);
}

@media (min-width: 768px) {
    .auth {
        width: 740px;
    }
}

@media (min-width: 1200px) {
    .auth {
        width: 900px;
    }
}