:root {
    --yo-green: #51D0C9;
    --yo-dark-green: #0F958C;
    --yo-gray: #5D5D5D;
    --yo-dark-gray: #222220;
    --yo-white: #ffffff;
    --yo-black: #000000;
}

.row {
    margin: 0;
}

.no-makers {
    list-style-type: none;
}

.no-underline {
    text-decoration: none;
}

.form-label {
    font-weight: 500;
}

.form-control {
    padding: 10px;
    border-radius: 20px;
}

.button {
    font-size: 1.2em;
    font-weight: 500;
    padding: 6px 12px;
    border: none;
    border-radius: 15px;
}